<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias alias="userInfo" type="com.jing.weibo.pojo.UserInfo"/>
		<typeAlias alias="synchrolog" type="com.jing.weibo.pojo.Synchrolog"/>
		<typeAlias alias="fansattention" type="com.jing.weibo.pojo.Fansattention"/>
	</typeAliases>
</configuration>